<!DOCTYPE html>
<html>
<head>
  <title>VonnyTranslator</title>
  <meta name="description" content="оствт мн пкое" />
  <meta name="keywords" content="Vonny, Translate" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
